.post {
    width: 90%;
    margin: auto;
    border: 1px solid;
    margin-bottom: 10px;
}

.comment {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}